<!-- 
<div class="container text-center p-3">
    <h1>Home Component</h1>
</div>

<input type="text" class="form-control" [(ngModel)]="userName" name="" id="" placeholder="Enter User Name">

<p>{{userName}}</p>

<button class="btn btn-primary" (click)="myClick()" [disabled]="userName === ''">Reset</button>




<p>{{serverStatus}}</p>
<p [ngStyle]="{backgroundColor: getColor()}" [ngClass]="{online: serverStatus === 'online'}"> {{'Server'}} with ID {{serverId}} is
    {{getServerStatus()}}</p>

     -->


<div class="container text-center">
    <app-servers></app-servers>
</div>









